body{
    font-family: 'Montserrat', sans-serif;
}

.bg-danger {
    background-color: #f53756!important;
}
.bg-success {
    background-color: #4cb8b3!important;
}
.bg-warning {
    background-color: #fef46d!important;
}
.bg-secondary {
    background-color: #752f97!important;
}


.embed-responsive {
    position: relative;
    background-image: url(../img/banda.jpg);
    background-size: cover;
    background-position: center center;
    height: 50rem;
}

@media (min-width: 992px) {
    .embed-responsive {
        background-image: unset;
        height: auto;
    }

}

.embed-responsive::after {
    height: 100%;
    width: 100%;
    position: absolute;
    content:'';
    display: block;
    top: 0;
    background-color: rgba(0,0,0,.35);
}

.informacion-concierto {
    position: absolute;
    z-index: 100;
    top: 20%;
}

.informacion-concierto h1 {
    font-size: 3rem;
    line-height: 6rem;
}


.informacion-concierto h1 span,
.informacion-concierto p {
    font-weight: 700;
    -webkit-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
    box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
}

.informacion-concierto p {
    font-size: 2rem;
}

.informacion-concierto .text-dark,
.contenido-principal .text-dark {
    color: #f53756!important;
    font-weight: 700;
}

@media (min-width: 768px) {
    .informacion-concierto {
        top: 30%;
    }
    .informacion-concierto h1 {
        font-size: 4rem;
        line-height: unset;
    }
}

/** Line up **/

.separador::after{
    content: '';
    display: block;
    height: 120px;
    width: 300px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}
.rock::after {
    background-image: url(../img/guitarra.png);
}
.dj::after {
    background-image: url(../img/dj.png);
}

.horario.bg-warning li:nth-child(2n+1) {
    background-color: #eae05b!important;
}
.horario.bg-success li:nth-child(2n+1) {
    background-color: #3ca8a2!important;
}

/** cuenta Regresiva **/

.cuenta-regresiva h2 {
    font-size: 4rem;
}

.fecha {
    font-size: 1.5rem;
}

.fecha span {
    font-weight: 700;
}

.fecha span:first-child::before {
    display: none;
}
.fecha span::before {
    content: '-';
    clear: both;
}


@media screen and (min-width:992px) {

    .cuenta-regresiva h2 {
        font-size: 6rem;
    }

    .fecha {
        font-size:2rem;
    }

}

@media screen and (min-width:1200px){
    .fecha {
        font-size:2.8rem;
    }
}

/** Boletos **/
.boletos .precio {
    font-size: 2rem;
}

.boletos .active {
    background-color:  #752f97!important;
    border-color: #752f97!important;
}
.list-group-item-success {
   background-color: #4cb8b3!important;
}